Repository awslabs/mcp, pull requests merged in 2025-07, with the labels that each got.

#709 chore(doc): update readme and add tips and tricks
  README.md
  VIBE_CODING_TIPS_TRICKS.md
Labels: ready-for-merge

#619 feat: add cloudwatch-appsignals-mcp-server with initial tools
  .github/CODEOWNERS
  README.md
  docs/index.md
  docs/servers/cloudwatch-appsignals-mcp-server.md
  mkdocs.yml
  src/cloudwatch-appsignals-mcp-server/.gitignore
  src/cloudwatch-appsignals-mcp-server/.python-version
  src/cloudwatch-appsignals-mcp-server/CHANGELOG.md
  src/cloudwatch-appsignals-mcp-server/Dockerfile
  src/cloudwatch-appsignals-mcp-server/LICENSE
  src/cloudwatch-appsignals-mcp-server/NOTICE
  src/cloudwatch-appsignals-mcp-server/README.md
  src/cloudwatch-appsignals-mcp-server/awslabs/__init__.py
  src/cloudwatch-appsignals-mcp-server/awslabs/cloudwatch_appsignals_mcp_server/__init__.py
  src/cloudwatch-appsignals-mcp-server/awslabs/cloudwatch_appsignals_mcp_server/server.py
  src/cloudwatch-appsignals-mcp-server/docker-healthcheck.sh
  src/cloudwatch-appsignals-mcp-server/pyproject.toml
  src/cloudwatch-appsignals-mcp-server/tests/test_initialization.py
  src/cloudwatch-appsignals-mcp-server/tests/test_server.py
  src/cloudwatch-appsignals-mcp-server/uv.lock
Labels: new mcp server

#718 feat(cloudwatch-mcp-server): Add AWS CloudWatch MCP server
  .github/CODEOWNERS
  .secrets.baseline
  README.md
  docs/index.md
  docs/servers/cloudwatch-mcp-server.md
  mkdocs.yml
  src/cloudwatch-logs-mcp-server/README.md
  src/cloudwatch-logs-mcp-server/awslabs/cloudwatch_logs_mcp_server/server.py
  src/cloudwatch-mcp-server/.gitignore
  src/cloudwatch-mcp-server/.python-version
  src/cloudwatch-mcp-server/CHANGELOG.md
  src/cloudwatch-mcp-server/Dockerfile
  src/cloudwatch-mcp-server/LICENSE
  src/cloudwatch-mcp-server/NOTICE
  src/cloudwatch-mcp-server/README.md
  src/cloudwatch-mcp-server/awslabs/__init__.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/__init__.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/cloudwatch_alarms/models.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/cloudwatch_alarms/tools.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/cloudwatch_logs/models.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/cloudwatch_logs/tools.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/cloudwatch_metrics/data/metric_metadata.json
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/cloudwatch_metrics/models.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/cloudwatch_metrics/tools.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/common.py
  src/cloudwatch-mcp-server/awslabs/cloudwatch_mcp_server/server.py
  src/cloudwatch-mcp-server/docker-healthcheck.sh
  src/cloudwatch-mcp-server/pyproject.toml
  src/cloudwatch-mcp-server/tests/cloudwatch_alarms/test_active_alarms.py
  src/cloudwatch-mcp-server/tests/cloudwatch_alarms/test_alarm_history.py
  src/cloudwatch-mcp-server/tests/cloudwatch_alarms/test_alarm_history_integration.py
  src/cloudwatch-mcp-server/tests/cloudwatch_alarms/test_alarms_error_handling.py
  src/cloudwatch-mcp-server/tests/cloudwatch_logs/test_logs_error_handling.py
  src/cloudwatch-mcp-server/tests/cloudwatch_logs/test_logs_models.py
  src/cloudwatch-mcp-server/tests/cloudwatch_logs/test_logs_server.py
  src/cloudwatch-mcp-server/tests/cloudwatch_metrics/test_metrics_error_handling.py
  src/cloudwatch-mcp-server/tests/cloudwatch_metrics/test_metrics_models.py
  src/cloudwatch-mcp-server/tests/cloudwatch_metrics/test_metrics_server.py
  src/cloudwatch-mcp-server/tests/cloudwatch_metrics/test_validation_error.py
  src/cloudwatch-mcp-server/tests/test_common_and_server.py
  src/cloudwatch-mcp-server/tests/test_init.py
  src/cloudwatch-mcp-server/tests/test_main.py
  src/cloudwatch-mcp-server/uv.lock
Labels: new mcp server

#791 fix: cloudwatch-mcp-server: Update readme instructions to include correct Q CLI config
  src/cloudwatch-mcp-server/CHANGELOG.md
  src/cloudwatch-mcp-server/README.md
  src/cloudwatch-mcp-server/pyproject.toml
Labels: documentation, waiting-for-codeowners

#584 feat: add S3 Tables MCP Server
  .github/CODEOWNERS
  README.md
  docusaurus/docs/servers/s3-tables-mcp-server.md
  docusaurus/sidebars.ts
  docusaurus/static/assets/server-cards.json
  src/s3-tables-mcp-server/.gitignore
  src/s3-tables-mcp-server/.python-version
  src/s3-tables-mcp-server/CHANGELOG.md
  src/s3-tables-mcp-server/Dockerfile
  src/s3-tables-mcp-server/LICENSE
  src/s3-tables-mcp-server/NOTICE
  src/s3-tables-mcp-server/README.md
  src/s3-tables-mcp-server/awslabs/__init__.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/__init__.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/constants.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/database.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/engines/__init__.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/engines/pyiceberg.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/file_processor.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/models.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/namespaces.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/resources.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/s3_operations.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/server.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/table_buckets.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/tables.py
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/utils.py
  src/s3-tables-mcp-server/docker-healthcheck.sh
  src/s3-tables-mcp-server/pyproject.toml
  src/s3-tables-mcp-server/tests/test_database.py
  src/s3-tables-mcp-server/tests/test_file_processor.py
  src/s3-tables-mcp-server/tests/test_init.py
  src/s3-tables-mcp-server/tests/test_main.py
  src/s3-tables-mcp-server/tests/test_namespaces.py
  src/s3-tables-mcp-server/tests/test_pyiceberg.py
  src/s3-tables-mcp-server/tests/test_resources.py
  src/s3-tables-mcp-server/tests/test_s3_operations.py
  src/s3-tables-mcp-server/tests/test_server.py
  src/s3-tables-mcp-server/tests/test_table_buckets.py
  src/s3-tables-mcp-server/tests/test_tables.py
  src/s3-tables-mcp-server/tests/test_utils.py
  src/s3-tables-mcp-server/uv.lock
Labels: new mcp server

#845 fix: check license for openapi
  src/openapi-mcp-server/liteDockerfile
Labels: ready-for-merge

#884 fix: failing tests
  src/aws-support-mcp-server/awslabs/aws_support_mcp_server/models.py
  src/aws-support-mcp-server/tests/test_models.py
  src/aws-support-mcp-server/uv.lock
Labels: waiting-for-codeowners

#910 feat: release branches
  .github/actions/build-and-push-container-image/action.yml
  .github/workflows/release-initiate-branch.yml
  .github/workflows/release-merge-tag.yml
  .github/workflows/release-tag-release.yml
  .github/workflows/release.py
Labels: github_actions, ready-for-merge, 👮admin👮

#931 fix: release v2
  .github/actions/build-and-push-container-image/action.yml
  .github/workflows/release-merge-tag.yml
  .github/workflows/release-tag-release.yml
  .github/workflows/release-v1.yml
  .github/workflows/release.yml
  src/aws-api-mcp-server/awslabs/aws_api_mcp_server/__init__.py
  src/aws-api-mcp-server/pyproject.toml
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/__init__.py
  src/s3-tables-mcp-server/pyproject.toml
Labels: github_actions, 👮admin👮

#936 chore: release/2025.07.20250724233019
  src/aws-api-mcp-server/awslabs/aws_api_mcp_server/__init__.py
  src/aws-api-mcp-server/pyproject.toml
  src/s3-tables-mcp-server/awslabs/s3_tables_mcp_server/__init__.py
  src/s3-tables-mcp-server/pyproject.toml
Labels: ready-for-merge

#937 fix: avoid checking remote too fast and image save debugging
  .github/actions/build-and-push-container-image/action.yml
  .github/workflows/release-merge-tag.yml
Labels: github_actions, ready-for-merge

#625 feat: add ImageContent support for MCP to return bytes data
  src/mcp-lambda-handler/awslabs/mcp_lambda_handler/mcp_lambda_handler.py
  src/mcp-lambda-handler/tests/test_lambda_handler.py
Labels: waiting-for-codeowners

#946 fix: naming and repeated attempts to ls remote tags
  .github/actions/build-and-push-container-image/action.yml
  .github/workflows/RELEASE_INSTRUCTIONS.md
  .github/workflows/release-initiate-branch.yml
  .github/workflows/release-merge-tag.yml
  .github/workflows/release-v1.yml
  .github/workflows/release.yml
  scripts/release.py
Labels: github_actions, 👮admin👮

#903 chore: Update README.md
  README.md
Labels: waiting-for-codeowners

#967 feat: release skipping and bump fixing
  .github/workflows/release-merge-tag.yml
  .github/workflows/release.py
  .github/workflows/release.yml
Labels: github_actions, 👮admin👮
