Repository awslabs/mcp, pull requests merged in 2025-04, with the labels that each got.

#96 fix: read file encoding for cross-platform support
  scripts/release.py
  src/bedrock-kb-retrieval-mcp-server/awslabs/bedrock_kb_retrieval_mcp_server/knowledgebases/__init__.py
  src/cdk-mcp-server/awslabs/cdk_mcp_server/data/cdk_nag_parser.py
  src/cdk-mcp-server/awslabs/cdk_mcp_server/data/genai_cdk_loader.py
  src/cdk-mcp-server/awslabs/cdk_mcp_server/data/lambda_powertools_loader.py
  src/cdk-mcp-server/awslabs/cdk_mcp_server/data/schema_generator.py
  src/cdk-mcp-server/awslabs/cdk_mcp_server/static/__init__.py
  src/core-mcp-server/awslabs/core_mcp_server/__init__.py
  src/core-mcp-server/awslabs/core_mcp_server/server.py
  src/core-mcp-server/awslabs/core_mcp_server/static/__init__.py
  src/cost-analysis-mcp-server/awslabs/cost_analysis_mcp_server/static/__init__.py
  src/cost-analysis-mcp-server/awslabs/cost_analysis_mcp_server/static/patterns/__init__.py
  src/nova-canvas-mcp-server/awslabs/nova_canvas_mcp_server/novacanvas.py
Labels: bug

#128 feat(samples): mcp client with kb
  README.md
  samples/README.md
  samples/mcp-integration-with-kb/.env.example
  samples/mcp-integration-with-kb/.python-version
  samples/mcp-integration-with-kb/README.md
  samples/mcp-integration-with-kb/assets/simplified-mcp-flow-diagram.png
  samples/mcp-integration-with-kb/clients/client_server.py
  samples/mcp-integration-with-kb/pyproject.toml
  samples/mcp-integration-with-kb/user_interfaces/chat_bedrock_st.py
  samples/mcp-integration-with-kb/uv.lock
Labels: hold-merging

#209 feat: code reviewer stub
  .github/workflows/code-review-process.yml
  .github/workflows/code-review-request.yml
Labels: github_actions

#210 fix: python-version-file
  .github/workflows/pre-commit.yml
  .python-version
Labels: github_actions
